{% load static %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/minidog.png' %}" alt="" width="30" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if page == 'home' %}
          <li class="nav-item">
            <a class="nav-link active rounded" style="background-color: #f1f1f1;" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
        {% endif %}
        {% if page == 'shows' %}
          <li class="nav-item">
            <a class="nav-link active rounded" style="background-color: #f1f1f1;" aria-current="page" href="{% url 'shows' %}">Shows</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shows' %}">Shows</a>
          </li>
        {% endif %}
        {% if page == 'chat' %}
          <li class="nav-item">
            <a class="nav-link active rounded" style="background-color: #f1f1f1;" aria-current="page" href="{% url 'chat' %}">Chat</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chat' %}">Chat</a>
          </li>
        {% endif %}
        {% for group in request.user.groups.all %}
        {% if group.name == 'admin' %}

          {% if page == 'add_show' %}
            <li class="nav-item">
              <a class="nav-link active rounded" style="background-color: #f1f1f1;" aria-current="page" href="{% url 'add-show' %}">Add show</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add-show' %}">Add show</a>
            </li>
          {% endif %}

          {% if page == 'referees' %}
            <li class="nav-item">
              <a class="nav-link active rounded" style="background-color: #f1f1f1;" aria-current="page" href="{% url 'referee-list' %}">Referees</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'referee-list' %}">Referees</a>
            </li>
          {% endif %}

        {% endif %}
        {% endfor%}
        </ul>
        <ul class="nav justify-content-end">
          {% if user.is_authenticated %}
            {% if page == 'user-profile' %}
              <li class="nav-item">
                <a class="nav-link rounded" style="background-color: #f1f1f1;" href="{% url 'user-profile' %}">Profile</a>
              </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user-profile' %}">Profile</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logut</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>