{% extends 'main.html' %}

{% block content %}
<div class="p-2 bg-secondary bg-opacity-10 border border-secondary border-opacity-50 rounded mx-auto" style="width: 30%;">
<form class="form" action="" method="POST">{% csrf_token %}
    <p class="text-center">ADD REFEREE</p>
    <p class="text-danger">{{message}}</p>
    
    <!-- {% for referee in referees %}
        {{referee}}
    {% endfor %} -->

    <div class="input-group">
        <select class="custom-select" id="selected-referee" name="selected-referee">
          <option selected>Choose...</option>
          <option value="---">---</option>
          {% for referee in referees %}
          {% if referee != show.referee1 and referee != show.referee2 and referee != show.referee3 %}
          {% if referee not in show.owners %}
              <option value="{{referee.id}}">{{referee.username}}</option>
          {% endif %}
          {% endif %}
          {% endfor %}
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Submit</button>
        </div>
    </div>

    <hr>
    <div class="d-flex justify-content-center">
        <a href="{% url 'shows-details' show.id %}">Go back</a>
    </div>
  </form>
</div>
{% endblock content %}