


                {% for message in messages %}
                    
                <div class="d-flex flex-row justify-content-start">
                    <div> 
                    <p class="fs-8">{{message.user}}</p>
                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{message.text}}</p>
                    <p class="small ms-3 mb-3 rounded-3 text-muted">{{message.created|timesince}} ago</p>
                    </div>
                </div>
                {% endfor %}