{% extends 'main.html' %}
{% block content %}

<div class="container bg-light rounded" style="width: 50%;">
    <br>
    <div class="jumbotron bg-light rounded mx-auto" style="width: 95%;">
        <h3 class="text-center">DogShow</h3>
        <br>
        <p>Aplikacja do obsługi konkursów z jury, w tym wypadku psich zawodów.
            Użytkownicy mogą przeglądać wydarzenia oraz brać w nich udział.
            Wydarzenia są obsługiwane przez admina i oceniane przez sędziów.</p>
        <br>
        <p>Role użytkowników:</p>
        <br>
        <p class="fw-bold">Gość</p><p> - może przeglądać dostępne wydarzenia, szczególy wydarzenia, zalogować się lub utworzyć nowy profil użytkownika</p>
        <br>
        <p class="fw-bold">Użytkownik bez uprawnień</p><p> - posiada funkcje gościa, dodatkowo może dodać do swojego profilu psa oraz zgłosić go do otwartego wydarzenia</p>
        <br>
        <p class="fw-bold">Użytkownik z uprawnieniami sędziego</p><p> - posiada funkcje gościa oraz zwykłego użytkownika, dodatkow może oceniać biorące udział w wydarzeniu psy, jeżeli użytkownik sędziuje w danym wydarzeniu jego pies nie może brać w nim udziału, uprawnienia sędziego nadaje admin</p>
        <br>
        <p class="fw-bold">Użytkownik z uprawnieniami admina</p><p> - posiada funkcje gościa oraz zwykłego użytkownika, dodatkowo może tworzyć nowe wydarzenia, przypisywać sędziów do wydarzeń oraz nimi zarządzać, uprawnienia admina nadaje superuser</p>
        <br>
        <br>
        <p>Przykładowe konta użytkowników:</p>
        <p>-</p>
        <p>-</p>
        <p>-</p>
        <p>Przykładowe konto sędziego:</p>
        <p>-</p>
        <p>Przykładowe konto admina:</p>
        <p>-</p>
    </div>
</div>

{% endblock content %}
