{% extends 'main.html' %}

{% block content %}
<div class="p-2 bg-secondary bg-opacity-10 border border-secondary border-opacity-50 rounded mx-auto" style="width: 30%;">
<form class="form" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <p class="text-center">REGISTER</p>
    <p class="text-danger">{{message}}</p>
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
    <hr>
    <p class="text-center">Have account already ?</p>
    <div class="d-flex justify-content-center">
      <a href="{% url 'login' %}">Login here !</a>
    </div>
  </form>
</div>
{% endblock content %}