
{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="p-2 bg-secondary bg-opacity-10 border border-secondary border-opacity-50 rounded mx-auto" style="width: 50%;">
    <div class="card mx-auto" style="width: 90%;">
        <img src="{% static 'img/dogshowdefault.jpg' %}" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">{{show.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{show.date}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{show.address}}</h6>
          <p class="card-text">{{show.description}}</p>
          <p>PIESKI:</p>
            {% for dog in show_dogs %}
                {% if user == dog.owner %}
                <p>{{dog.name}} - <a href="{% url 'dog-profile' dog.id %}">Details</a> - <a href="{% url 'cancel-dog' show.id dog.id %}">Delete</a></p>
                {% else %}
                <p>{{dog.name}} - <a href="{% url 'dog-profile' dog.id %}">Details</a></p>
                {% endif %}
            {% endfor %}
          <a href="{% url 'submit-dog' show.id %}" class="btn btn-success ">Add your dog !</a>
        </div>
      </div>
</div>

{% endblock content %}