{% extends 'main.html' %}

{% block content %}

<p class="h3 text-center">SHOWS</p>


<div class="d-grid gap-3">
    {% for show in shows %}
    {% if show.finished %}
    
    <div class="card mx-auto " style="background-color: #d3d3d3; width: 50%;">
        <div class="card-body">
        <h5 class="card-title">{{show.name}}</h5>
        {% if show.finished %}
        <h6 class="card-subtitle mb-2 text-muted">Show ended</h6>
        {% else %}
        <h6 class="card-subtitle mb-2 text-muted">{{show.date}}</h6>
        {% endif %}
        <p class="card-text">{{show.description|slice:":100"}}...</p>
        <a href="{% url 'shows-details' show.id %}" class="card-link btn " style="background-color: #f8f8f8;">See Results</a>

    {% else %}

    <div class="card mx-auto " style="background-color: #fafafa; width: 50%;">
        <div class="card-body">
        <h5 class="card-title">{{show.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{show.date}}</h6>
        <p class="card-text">{{show.description|slice:":100"}}...</p>
        <a href="{% url 'shows-details' show.id %}" class="card-link btn " style="background-color: #e0e0e0;">Details</a>

        {% if show.active %}
        <a href="#" class="card-link link-success">Active</a>
        {% else %}
        {% if show.referee1 != None and show.referee2 != None and show.referee3 != None and show.dogs_ready %}
        <a href="#" class="card-link">Ready</a>
        {% else %}
        <a href="#" class="card-link link-secondary">Not Ready</a>
        {% endif %}
        {% endif %}

    {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<hr>

{% endblock content %}