
{% extends 'main.html' %}
{% load static %}

{% block content %}

<style>
    .referee-table{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-self: center;
    }

    .cen {
      justify-self: center;
    }

</style>

<div class="p-2 bg-secondary bg-opacity-10 border border-secondary border-opacity-50 rounded mx-auto" style="width: 50%;">
    <div class="card mx-auto" style="width: 90%;">
        <img src="{% static 'img/dogshowdefault.jpg' %}" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">{{show.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{show.date}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{show.address}}</h6>
          <p class="card-text">{{show.description}}</p>


          <p class="text-center">DOGS:</p>
          {% for dog in show_dogs %}
            {% if user == dog.owner %}
            <p class="p-3 mb-2 bg-light text-dark">{{dog.name}} - <a href="{% url 'dog-profile' dog.id %}">Details</a> - {% if show.active or show.finished %} Delete {% else %}<a href="{% url 'cancel-dog' show.id dog.id %}">Delete</a>{% endif %}</p>
            {% else %}
            <p class="p-3 mb-2 bg-light text-dark">{{dog.name}} - <a href="{% url 'dog-profile' dog.id %}">Details</a></p>
            {% endif %}
          {% endfor %}
          {% if not request.user.groups.all %}
            {% if show.active or show.finished %}
            <a class="btn btn-secondary " disabled>Add your dog !</a>
            {% else %}
            <a href="{% url 'submit-dog' show.id %}" class="btn btn-success ">Add your dog !</a>
            {% endif %}
          {% endif %}

          {% for group in request.user.groups.all %}
          {% if group.name == 'admin' %}
          {% if show.active or show.finished %}
            <a class="btn btn-secondary " disabled>Add dog !</a>
            {% else %}
            <a href="{% url 'submit-dog' show.id %}" class="btn btn-success ">Add dog !</a>
            {% endif %}
          {% endif %}
          {% endfor %}

          <hr>
          <p class="text-center">REFEREES</p>
          <hr>
          <div class="referee-table">
          <p class="text-center">{{show.referee1}}</p>
          <p class="text-center">{{show.referee2}}</p>
          <p class="text-center">{{show.referee3}}</p>

          {% for group in request.user.groups.all %}
          {% if group.name == 'admin' %}
            {% if show.active or show.finished %}
            <div class="cen"><a  class="btn btn-secondary " disabled>Add Referee1</a></div>
            <div class="cen"><a  class="btn btn-secondary " disabled>Add Referee2</a></div>
            <div class="cen"><a  class="btn btn-secondary " disabled>Add Referee3</a></div>
            
            </div>
            <hr>
            </div>
            {% else %}
            <div class="cen"><a href="{% url 'add-referee' show.id 1 %}" class="btn btn-primary ">Add Referee1</a></div>
            <div class="cen"><a href="{% url 'add-referee' show.id 2 %}" class="btn btn-primary ">Add Referee2</a></div>
            <div class="cen"><a href="{% url 'add-referee' show.id 3 %}" class="btn btn-primary ">Add Referee3</a></div>
            
            </div>
            <hr>
            </div>
            {% endif %}
            

            {% if show.active %}
              <a href="{% url 'activate-show' show.id %}" class="btn btn-success btn-block">Active !</a>
            {% else %}
              {% if show.finished %}
              <a class="btn btn-danger btn-block">Show finished !</a>
              {% else %}
                {% if show.referee1 != None and show.referee2 != None and show.referee3 != None  and show_dogs_number >= 3 %}
                <a href="{% url 'activate-show' show.id %}" class="btn btn-primary btn-block">Activate</a>
                {% else %}
                <a class="btn btn-danger btn-block">Referees or Dogs not ready</a>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
          {% endfor %}

          {% for group in request.user.groups.all %}
          {% if group.name == 'referee' %}
          </div>
          <hr>
          </div>
            {% if show.finished %}
            <a class="btn btn-danger btn-block">Show finished !</a>
            {% else %}
              {% if show.active %}
              <a href="{% url 'score-page' show.id 0 %}" class="btn btn-success btn-block">Start judging !</a>
              {% else %}
              <a  class="btn btn-secondary btn-block" disabled>Show not ready</a>
              {% endif %}
            {% endif %}
          {% endif %}
          {% endfor %}


            {% if not request.user.groups.all %}
          </div>
          {% endif %}
          <p></p>
          <hr>
          {% if show.finished %}
          
          <p class="text-center">RESULTS </p>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Total</th>
                <th scope="col">Head</th>
                <th scope="col">Body</th>
                <th scope="col">Legs</th>
                <th scope="col">Tail</th>
              </tr>
            </thead>

            <tbody>
              {% for key, values in dog_points.items %}
              <tr>
                <th scope="row">{{forloop.counter0|add:"1"}}</th>
                <td>{{key}}</td>
                <td>{{values.4}}</td>
                <td>{{values.0}}</td>
                <td>{{values.1}}</td>
                <td>{{values.2}}</td>
                <td>{{values.3}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p class="text-center">RESULTS COMING </p>
          {% endif %}
      </div>
</div>

{% endblock content %}